@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

nav {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
}

.nav-square {
    height: 50px;
    width: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-circule {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
}

.nav-btn button {
    padding: 11px 35px;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.nav-btn button:hover {
    background-color: rgb(14, 14, 14);
}

header {
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-txt {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-txt h1 {
    font-size: 3.5em;
}

.header-txt p {
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    color: rgb(122, 121, 121);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.103);
}

.header-container {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.g-d {
    height: 330px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphic-design {
    height: 330px;
    width: 310px;
    background-color: #755CDD;
    border-radius: 10px;
    overflow: hidden;
}

.graphic-design:hover {
    background-color: #6a50d1;
    cursor: pointer;
    transition: .3s;
}

.graphic-design h2 {
    margin: 60px 13px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
}

.graphic-design img {
    margin: 10px 170px;
}

.u-a-i {
    height: 330px;
    width: 310px; 
}

.u-a-i-top {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ui-ux {
    height: 150px;
    width: 140px;
    border-radius: 10px;
    background-color: #F5A65F;
    overflow: hidden;
}

.ui-ux h2 {
    margin: 30px 10px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
    font-size: 1.3em; 
}

.ui-ux:hover {
    background-color: #f59847;
    transition: .3s;
    cursor: pointer;
}

.ui-ux img {
    margin: 10px 70px;
}

.apps {
    height: 150px;
    width: 140px;
    border-radius: 10px;
    background-color: #F39CA1;
    overflow: hidden;
}

.apps h2 {
    margin: 30px 10px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
    font-size: 1.3em; 
}

.apps:hover {
    background-color: #f38b90;
    transition: .3s;
    cursor: pointer;
}

.apps img {
    margin: 10px 70px;
}

.u-a-i-bottom {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustrations {
    background-color: #e97664;
    height: 150px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.illustrations h2 {
    margin: 15px 10px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
}

.illustrations:hover {
    background-color: #e66a57;
    transition: .3s;
    cursor: pointer;
}

.illustrations img {
    margin: 10px 170px;
}

.p-m {
    height: 330px;
    width: 310px; 
}

.p-m-top {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photography {
    height: 150px;
    width: 100%;
    border-radius: 10px;
    background-color: #62C4B7;
    overflow: hidden;
}

.photography h2 {
    margin: 15px 10px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
}

.photography:hover {
    background-color: #6acfc2;
    cursor: pointer;
    transition: .3s;
}

.photography img {
    margin: 10px 140px;
}

.p-m-bottom {
    height: 50%;
    width: 100%;
}

.motion-graphics {
    height: 150px;
    width: 100%;
    border-radius: 10px;
    background-color: #561F4B;
    overflow: hidden;
}

.motion-graphics h2 {
    color: whitesmoke;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
    margin: 0px 10px;
}

.motion-graphics:hover {
    background-color: #5e2252;
    cursor: pointer;
    transition: .3s;
}

.motion-graphics img {
    margin: 20px 175px;
}

.div-amy {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amy-left {
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amy-left img {
    height: 450px;
    width: 450px;
}

.amy-right {
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amy-txt {
    width: 550px;
    height: 280px;
    text-align: justify;
}

.amy-txt h1 {
    font-size: 2.5em;
}

.amy-txt p {
    margin: 10px 0px;
    font-size: 1.1em;
    color: #6a667a;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
}

.amy-txt button {
    margin: 10px 0px;
    padding: 15px 20px;
    background-color: #E2786A;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    color: whitesmoke;
}

.amy-txt button:hover {
    background-color: #e07163;
    transition: .3s;
}

.book {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-div {
    background-color: black;
    height: 250px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    text-align: center;
    border-radius: 10px;
}

.book-div h1 {
    margin-top: -15px;
}

.book-div p {
    width: 900px;
    line-height: 1.5em;
    margin-top: 15px;
}

.book-div button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #E2786A;
    color: whitesmoke;
    cursor: pointer;
}

.book-div button:hover {
    background-color: #e07163;
    transition: .3s;
}

footer {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
}

footer button {
    margin: 10px 0px;
    padding: 10px 20px;
    background-color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    color: whitesmoke;
}

footer button:hover {
    background-color: rgb(14, 14, 14);
}

@media (max-width:955px) {
    .header-container {
        height: 100vh;
        width: 100%;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .g-d {
        height: 230px;
        width: 220px;
    }

    .graphic-design {
        height: 230px;
        width: 220px;
    }

    .graphic-design img {
        height: 150px;
        width: 100px;
        margin-left: 100px;
    }

    .graphic-design h2 {
        margin: 0px 10px;
        color: whitesmoke;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
    }

    .u-a-i-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ui-ux {
        height: 100px;
        width: 100px;
    }
    
    .ui-ux h2 {
        margin: 0px 10px;
    }
    
    .ui-ux img {
        margin: 10px 55px;
        height: 40px;
    }

    .apps {
        height: 100px;
        width: 100px;
    }
    
    .apps h2 {
        margin: 0px 10px;
    }
    
    .apps img {
        margin: 10px 55px;
        height: 40px;
    }

    .u-a-i {
        height: 230px;
        width: 220px; 
    }

    .illustrations {
        height: 100px;
        width: 100%;
    }
    
    .illustrations h2 {
        margin: -10px 10px;
    }
    
    .illustrations img {
        margin: 10px 115px;
        height: 45px;
        width: 100px;
    }

    .p-m {
        height: 230px;
        width: 210px; 
    }
    
    .photography {
        height: 100px;
        width: 100%;
    }
    
    .photography h2 {
        margin: -10px 10px;
    }
    
    .photography img {
        margin: 10px 80px;
        height: 45px;
        width: 120px;
    }
    
    .motion-graphics {
        height: 100px;
        width: 100%;
    }
    
    .motion-graphics h2 {
        margin: -10px 10px;
    }
    
    .motion-graphics img {
        margin: 10px 100px;
        height: 45px;
        width: 100px;
    }
}

@media (max-width:800px) {
    .header-txt h1 {
        width: 80%;
        text-align: center;
        overflow: hidden;
        font-size: 3em;
        line-height: .9em;
    }
}